<appSettings>
  <add key="ConnectionEncrypted" value="1" />
  <!-- this settings is to set if login is required to access the system. Everything not 0 will act like we need a login -->
  <add key="RequireLogin" value="0" />
  <!-- this setting is to set what company we are displaying/using. if this is empty or not found, it will display all-->
  <add key="company" value="Sint-Elisabeth" />
</appSettings>