<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="TSSDatabase" connectionString="server=.\sqlexpress;database=TechnicalServiceSystem;User ID=TssUser;Password=TssDbTest;max pool size=50;min pool size=5" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="ConnectionEncrypted" value="0" />
    <add key="Lang" value="NL" />
    <!-- this settings is to set if login is required to access the system. Everything not 0 will act like we need a login -->
    <add key="RequireLogin" value="0" />
    <!-- this setting is to set what company we are displaying/using. if this is empty or not found, it will display all-->
    <add key="company" value="Sint-Elisabeth" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>