/* XS */
@media screen and (max-width: 767px) {
    .notesBox {
        max-height: 10em;
        min-height: 10em;
    }
}

/* SM */

@media screen and (min-width: 768px) {
    .notesBox {
        max-height: 12em;
        min-height: 12em;
    }
}

/*MD*/

@media screen and (min-width: 992px) {
    .notesBox {
        max-height: 9em;
        min-height: 9em;
    }
}

/* LG */

@media screen and (min-width: 1200px) {
    .notesBox {
        max-height: 12em;
        min-height: 12em;
    }
}