html { min-height: 100%; }

body {
    /*background: url(/system/background.jpg);
    background-repeat: no-repeat;
    background-position:bottom bottom;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;*/
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a6a6a6+50,a6a6a6+100&0+50,1+100 */
    /* Pure Gray */
    /*background-repeat: no-repeat;
    background: -moz-linear-gradient(top,  rgba(166,166,166,0) 21%, rgba(166,166,166,1) 100%); /* FF3.6-15 */
    /*background: -webkit-linear-gradient(top,  rgba(166,166,166,0) 21%,rgba(166,166,166,1) 100%); /* Chrome10-25,Safari5.1-6 */
    /*background: linear-gradient(to bottom,  rgba(166,166,166,0) 21%,rgba(166,166,166,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a6a6a6', endColorstr='#a6a6a6',GradientType=0 ); /* IE6-9 */

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00a5ff+21,000c42+100&0+21,1+100 */
    background: -moz-linear-gradient(top, rgba(0, 165, 255, 0) 21%, rgba(0, 12, 66, 1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0, 165, 255, 0) 21%, rgba(0, 12, 66, 1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0, 165, 255, 0) 21%, rgba(0, 12, 66, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0000a5ff', endColorstr='#000c42', GradientType=0); /* IE6-9 */
    height: 100%;
    min-height: 100%;
    width: 100%;
}

input[type="checkbox"] { cursor: pointer; }

/*would be nice if it worked, but these input/button applying doesn't seem to work...*/

input, input[type=submit] { min-height: 25px; }

input[type=submit] { min-height: 25px; }

input[type="button"], input[type="submit"]:disabled {
    background: #DDD;
    border: 1px solid #CCC;
    color: #666;
}

input[type="button"]:disabled {
    background: #DDD;
    border: 1px solid #CCC;
    color: #666;
}

/* IE 6 */

* html #footer {
    position: absolute;
    top: expression((0-(footer.offsetHeight)+(document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight)+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop))+'px');
}

h1 { margin-bottom: 0.5em; }

.gridview tr td, .gridview th {
    border-width: 2px;
    cursor: pointer;
    max-width: 13em;
    padding: 7px;
    text-align: center;
    word-break: break-word;
}

.gridview th { cursor: default; }

.gridview tr:hover td { background-color: #A1DCF2; }

.gridview-align-left { text-align: left !important; }

.alternating-table-color tr td {
    border: solid 1px;
    border-top-width: 1px;
    padding-bottom: 1em;
    padding-right: 1em;
    text-align: center;
}

.alternating-table-color tr:nth-child(odd):not(:hover) td { background-color: #EEE; }

.alternating-table-color tr:nth-child(even):not(:hover) td { background-color: #FFF; }

.searchButton {
    min-height: 0.2em;
    min-width: 0.2em;
}

.option-row { margin-bottom: 1%; }

.text-responsive { font-size: 1em; }

.btn-close {
    font-family: tahoma;
    font-size: 8pt;
    height: 3vmin;
    line-height: 12px;
    margin: 3px;
    margin-right: 2px;
    margin-top: 1px;
    min-height: 25px;
    min-width: 25px;
    position: absolute;
    right: 0;
    top: 0;
    width: 3vmin;
}

.btn {
    font-size: inherit;
}

.dropdown-toggle {
    border: 1px solid grey;
}

.UserButton {
    max-height: 5em;
    max-width: 5em;
}

/*xs < 767*/

@media screen and (max-width: 767px) {
    body {
        font-size: 0.8em;
        /*color : lawngreen;*/
    }

    h1 { font-size: 2em; }

    .UserTable { font-size: 1.3em; }

    .option-row {
        height: 3em;
        margin-bottom: 4%;
        margin-left: 0%;
        /*margin-right:-3%;*/
        padding: 1%;
    }

    .text-responsive { font-size: 1.2em; }

    .ScreenClassSpan:after { content: "XS screen"; }

    .gridview-header { font-size: 1.1em; }

    .gridview { width: 100%; }

    .gridview tr td, .gridview th {
        border-width: 1px;
        padding: 0px;
        word-break: normal;
    }

    .searchButton:before { min-width: 0.1em; }

    .xs-float-left { float: left; }

    .xs-float-right { float: right; }

    .xs-float-center {
        margin-left: auto;
        margin-right: auto;
    }

    .btn-close {
        font-size: 2em;
        height: 2.6em;
        width: 2.6em;
    }
}

/*sm 767*/

@media screen and (min-width: 768px) {
    .sm-font-size { font-size: 2.8em; }

    body {
        font-size: 1.8em;
        /*color : orange;*/
    }

    h1 { font-size: 1.3em; }

    .UserTable { font-size: 1em; }

    .option-row {
        height: 2.2em;
        margin-bottom: 4%;
        margin-left: 1%;
        margin-right: -6%;
    }

    .ScreenClassSpan:after { content: "SM screen"; }

    .gridview-header { font-size: 0.8em; }

    .gridview { width: 100%; }

    .gridview tr td, .gridview th {
        border-width: 1px;
        padding: 0px;
        word-break: normal;
    }

    .searchButton:before { min-width: 0.8em; }

    .sm-float-left { float: left; }

    .sm-float-right { float: right; }

    .sm-float-center {
        margin-left: auto;
        margin-right: auto;
    }

    .btn-close {
        font-size: 1em;
        height: 4em;
        width: 4em;
    }
}

/*md 992*/

@media screen and (min-width: 992px) {
    body {
        font-size: 1.5em;
        /*color: cyan;*/
    }

    h1 { font-size: 1.8em; }

    .ScreenClassSpan:after { content: "MD screen"; }

    .gridview-header { font-size: 0.7em; }

    .gridview { width: 100%; }

    .searchButton:before {
        max-width: 30%;
        min-width: 7em;
    }

    .md-float-left { float: left; }

    .md-float-right { float: right; }

    .md-float-center {
        margin-left: auto;
        margin-right: auto;
    }

    .md-button-max-width { max-width: 10em; }

    .md-dropdown-max-width { max-width: 12em; }

    .btn-close {
        font-size: 1em;
        height: 4em;
        width: 4em;
    }
}

/*lg 1200*/

@media screen and (min-width: 1200px) {
    body {
        font-size: 1.6em;
        /*color : red;*/
    }

    h1 { font-size: 1.6em; }

    .ScreenClassSpan:after { content: "LG screen"; }

    .option-row {
        height: 2em;
        margin-bottom: 1%;
        margin-left: 0%;
        margin-right: 0%
    }

    .gridview-header { font-size: 0.7em; }

    .gridview { width: 95vw; }

    .searchButton:before {
        max-width: 30%;
        min-width: 7em;
    }

    .lg-float-left { float: left; }

    .lg-float-right { float: right; }

    .lg-float-center {
        margin-left: auto;
        margin-right: auto;
    }

    .lg-button-max-width { max-width: 9em; }

    .btn-close {
        font-size: 1em;
        height: 4em;
        width: 4em;
    }
}

/* the classes used to display something infront of the rest*/

.blocker {
    background-color: #000;
    height: 100%;
    left: 0;
    opacity: .5;
    /*the black background*/
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.blocker-content {
    color: #fff;
    font-weight: bold;
    height: 2em;
    left: 50%;
    margin: -1em 0 0 -2.5em;
    /* the content of the blocker*/
    position: absolute;
    top: 50%;
    width: 5em;
}

.centerPage {
    align-content: center;
    align-items: center;
    display: flex;
    height: 80%;
    justify-content: center;
    margin-bottom: 5%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    position: fixed;
    text-align: center;
    width: 80%;
}